html,
body {
	margin: 0;
	padding: 0;
	outline: 1px solid blue;
}

.lineChange{
	clear:both;
}

#cover{
	position:fixed;
	z-index: 1000;
	display: none;
	1display: table;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	color: red;
	text-align: center;
}

#coverLogo{
	display: table-cell;
	vertical-align: middle;
	font-size: 20px;
}

ul
{
	float:left;
	display:inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
}

li{
	float:left;
	overflow: hidden;
}

li img {
    width: 100%;
    height: 100%;
    position: relative;
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
	
}

@media (min-width: 899px) {
	
}
